# Syncfusion
VITE_SYNCFUSTION_LICENSE_KEY=your_syncfusion_license_key_here

# Appwrite
VITE_APPWRITE_PROJECT_ID=your_appwrite_project_id_here
VITE_APPWRITE_API_KEY=your_appwrite_api_key_here
VITE_APPWRITE_DATABASE_ID=your_appwrite_database_id_here
VITE_APPWRITE_USERS_COLLECTION_ID=your_appwrite_users_collection_id_here
VITE_APPWRITE_TRIPS_COLLECTION_ID=your_appwrite_trips_collection_id_here
VITE_APPWRITE_API_ENDPOINT=your_appwrite_api_endpoint_here